.encontrar{
    scroll-padding-top: 110px;
}

#logoEpic{
    object-fit: contain;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

#content p {
    padding-top: 6px;
    font-size: 19px;
}